body {
    font-family: sans-serif;
    background-color: black;
    margin: 0;
}

header{
    width: 100%;
}





nav{
    position: fixed;
    height: 70px;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
    border-bottom: 2px solid rgb(110, 95, 9);
    background-color: rgb(0, 0, 0);
}

nav::before{
    content: url("https://learn.logikaschool.com/uploads/student/2401915/669b97dcc2399.svg");
    padding-right: 50%;
}


nav a{
    color: rgb(179, 167, 167);
    text-decoration: none;
    border: 2px solid rgb(179, 167, 167);
    padding: 5px 10px;
    transition: 0.3s linear;

}
nav a:last-child{
    margin-right: 100px;
}
nav a:hover{
    box-shadow: 0px 0px 10px 5px white;
    
}

.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px;
}
.gallery article{
    margin-top: 20px;
}

article img{
    height: 600px;
}



footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(110, 95, 9);
    background-color: rgb(0, 0, 0);
    height: 150px;
    align-items: center;

}


.footer_div1{
    text-align: center;
    color: aliceblue;
    
}
.footer_div1 img{
    width: 50px;
}